{% extends 'app/base.html.twig' %}

{% block title %}
	Database Management
{% endblock %}

{% block content %}
	<h1>Database Management</h1>

	<a href="{{ path('app_admin_db_save') }}">Download Backup</a>

	<form action="{{ path('app_admin_db_restore') }}" method="post" onsubmit="return confirm('Are you sure you want to restore the database? This will overwrite existing data.');" enctype="multipart/form-data">
		<div class="mb-3">
			<textarea class="form-control" name="jsonDocument" rows="8" required placeholder="Paste your JSON backup document into the field above or drag and drop a file onto the textarea" data-controller="json-drop"></textarea>
		</div>
		<button type="submit">Restore Backup</button>
	</form>
{% endblock %}
