<form method="post" action="{{ path('app_tab_cleanup', {'id': tab.id}) }}" onsubmit="return confirm('Are you sure you want to cleanup this tab?');">
	<button type="submit">Cleanup Tab</button>
</form>
