<form class="tab-delete-form" method="post" action="{{ path('app_tab_delete', {'id': tab.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tab.id) }}">
	<button class="form-submit">Delete</button>
</form>
