<form class="transpose-form" method="post" action="{{ path('app_tab_transpose', {'id': tab.id}) }}">
	<label for="direction">Transpose in direction</label>
	<select name="direction">
		<option value="up" {% if last_selected_direction == 'up' %} selected {% endif %}>+1</option>
		<option value="down" {% if last_selected_direction == 'down' %} selected {% endif %}>-1</option>
	</select>
	<div>
		<button class="form-submit transpose-submit" type="submit" name="change_capo" value="true">Transpose and Change Capo</button>
		<p class="capo-tooltip">The capo will be moved in the opposite
			<br>
			direction of the transposition.</p>
	</div>
	<button class="form-submit" type="submit">Transpose</button>
</form>
