{% extends 'app/base.html.twig' %}

{% block title %}
	Profile
{% endblock %}

{% block content %}
	<h1>Profile</h1>

	<h2>Email</h2>
	<p>{{ email }}</p>

	<h2>Roles</h2>
	<ul>
		{% for role in roles %}
			<li>{{ role }}</li>
		{% endfor %}
	</ul>
{% endblock %}
