.container {
    background-color: var(--bg-light);
    color: var(--bg-light-text);
    max-width: 80%;
    width: max-content;
    min-width: 70%;
    margin: 0 auto;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    min-height: 100vh;
}

@media (max-width: 900px) {
    .container {
        max-width: 100%;
        border-left: none;
        border-right: none;
    }
}

.content {
    padding: 20px;
}