@import url('components/navbar.css');
@import url('components/container.css');
@import url('components/devider.css');
@import url('components/form.css');

@import url('tab/index.css');
@import url('tab/show.css');
@import url('tab/edit.css');

@import url('tag/form.css');
@import url('artist/form.css');

@import url('login.css');

body {
    --bg-light: white;
    --bg-light-text: black;
    --bg-dark: black;
    --bg-dark-text: white;
    --accent: #ffd706;
    --border: #3d3d3d;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-dark);
    color: var(--bg-dark-text);
}