body {
    --bg-light: white;
    --bg-light-text: black;
    --bg-dark: black;
    --bg-dark-text: white;
    --accent: #ffd706;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg-dark);
    color: var(--bg-light-text);
}

.container {
    background-color: var(--bg-light);
    width: max-content;
    min-width: 70%;
    margin: 0 auto;
    border-left: 1px solid #3d3d3d;
    border-right: 1px solid #3d3d3d;
    min-height: 100vh;
}

.content {
    padding: 20px;
}