body {
    --bg: #f0f1fa;
    --bg-accent: #2C2E3A;
    --text: #141619;
    --text-accent: #ffffff;
    --accent-one: #0A21C0;
    --accent-two: #050A44;
}

body {
    font-family: "Lato", sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

.link {
    color: var(--accent-one);
    text-decoration: none;
    display: block;
}

.link:hover {
    text-decoration: underline;
}