#tab_form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

#tab_form div {
    width: 100%;
}

#tab_form div label {
    font-size: 1.2rem;
    display: block;
}

#tab_form div input[type="text"],
#tab_form div input[type="number"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#tab_form_artist {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--bg-light);
}

#tab_form_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#tab_form+.form-submit {
    margin: 1.5rem 0;
}