.tabs-display-container {
  margin: 20px;
}

.tabs-search-input,
.tags-search-input,
.artist-search-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border);
  margin: 1rem 0;
}

.tabs-display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.tabs-display div {
  background-color: var(--bg-light);
  color: var(--bg-light-text);
  border: 1px solid var(--border);
  overflow: hidden;
  border-radius: 8px;
  padding: 20px;
}

.tabs-display div pre {
  overflow: hidden;
}

.tags-search-input:focus+.tags-autocomplete,
.tags-autocomplete:hover {
  display: block;
}

.artist-search-input:focus+.artist-autocomplete,
.artist-autocomplete:hover {
  display: block;
}

.tags-autocomplete,
.artist-autocomplete {
  position: absolute;
  background-color: var(--bg-light);
  color: var(--bg-light-text);
  border: 1px solid var(--border);
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  display: none;
}

.tags-autocomplete-item,
.artist-autocomplete-item {
  padding: 10px;
  cursor: pointer;
}

.tags-autocomplete-item:hover,
.artist-autocomplete-item:hover {
  background-color: var(--accent);
}