.tab-information {
    padding: 20px;
}

.tab-information .link {
    text-decoration: none;
}

.title-artist-by {
    font-size: 1.6rem;
    color: var(--accent);
}

.table {
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 8px;
}

.table th {
    text-align: left;
}

.edit-link:hover {
    text-decoration: underline;
}

.tab-content {
    padding: 25px;
    font-size: 14px;
    line-height: 1.5;
    white-space: pre-wrap;
}