{% extends 'app/base.html.twig' %}

{% block title %}
	Artists
{% endblock %}

{% block content %}
	<ul>
		{% for artist in artists %}
			<li>
				<a href="{{ path('app_artist_show', {'id': artist.id}) }}">{{ artist.name }}</a>
			</li>
		{% else %}
			no artists found
		{% endfor %}
	</ul>
{% endblock %}
